## **Задание 1**
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:
- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('visit_log.csv', sep=';')
df.head(2)

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct

In [3]:
df.loc[df.traffic_source.isin(['yandex','google']), 'source_type'] = 'organic'
df.loc[(df.traffic_source.isin(['paid','email'])) & (df.region=='Russia'), 'source_type'] = 'ad'
df.loc[(df.traffic_source.isin(['paid','email'])) & ~(df.region=='Russia'), 'source_type'] = 'other'
df.loc[pd.isnull(df.source_type), 'source_type'] = df.traffic_source
df.source_type.value_counts(dropna=False)

direct     7013
organic    5407
ad         3790
other      2728
Name: source_type, dtype: int64

## **Задание 2**
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:
1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [4]:
import re

In [5]:
df = pd.read_table('URLs.txt')
df.head(2)

        url
0   /world/
1  /latest/

In [6]:
news_wc = r'\/\d{8}-'
news_df = df[df.url.str.contains(news_wc)]
news_df.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

## **Задание 3**
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [7]:
from pymystem3 import Mystem

In [8]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [9]:
m = Mystem()
data['lemmas'] = data.keyword.apply(lambda x: ''.join(m.lemmatize(x)).strip())
data

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль