## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
df = pd.read_table(r".\ml-10M100K\ratings.dat", sep='::', engine='python', header=0,
                   names=['UserID','MovieID','Rating','Timestamp'])
df.head(2)

   UserID  MovieID  Rating  Timestamp
0       1      185     5.0  838983525
1       1      231     5.0  838983392

In [3]:
max_id = df[df.Rating == 5.0]['MovieID'].value_counts().idxmax()

In [4]:
df1 = pd.read_table(r".\ml-10M100K\movies.dat", sep='::', engine='python', header=0,
                   names=['MovieID','Title','Genres'])
df1.head(2)

   MovieID                    Title                      Genres
0        2           Jumanji (1995)  Adventure|Children|Fantasy
1        3  Grumpier Old Men (1995)              Comedy|Romance

In [5]:
df1[df1.MovieID==max_id]

     MovieID                             Title Genres
314      318  Shawshank Redemption, The (1994)  Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [6]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
data.dtypes

country      object
year          int64
quantity    float64
category      int64
dtype: object

In [8]:
countries = ['Latvia','Lithuania','Estonia']
categories = [4,12,21]

condition = (data.country.isin(countries)
             & (data.year >= 2005) & (data.year <= 2010)
             & data.category.isin(categories)
             & data.quantity > 0
            )
data[condition]['quantity'].sum()

240481.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [9]:
from bs4 import BeautifulSoup

In [10]:
import requests
import os
HTTP_PROXY="http://10.2.176.162:8080"
HTTPS_PROXY="http://10.2.176.162:8080"
os.environ['HTTP_PROXY'] = HTTP_PROXY
os.environ['HTTPS_PROXY'] = HTTPS_PROXY

In [11]:
page_url = 'https://www.w3schools.com/html/html_tables.asp'
html_string = requests.get(page_url, verify=False).text
data = pd.read_html(html_string, encoding='utf-8')
df = data[0]
df.head()

c:\users\igor.i.plotnikov\appdata\local\programs\python\python38\lib\site-packages\urllib3\connectionpool.py:979: InsecureRequestWarning: Unverified HTTPS request is being made to host '10.2.176.162'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

                        Company          Contact  Country
0           Alfreds Futterkiste     Maria Anders  Germany
1    Centro comercial Moctezuma  Francisco Chang   Mexico
2                  Ernst Handel    Roland Mendel  Austria
3                Island Trading    Helen Bennett       UK
4  Laughing Bacchus Winecellars  Yoshi Tannamuri   Canada