Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [17]:
from datetime import datetime, timedelta

In [8]:
st = 'Wednesday, October 2, 2002'
dt = datetime.strptime(st, '%A, %B %d, %Y')
dt.date()

datetime.date(2002, 10, 2)

In [10]:
st1 = 'Friday, 11.10.13'
dt = dt.strptime(st1, '%A, %d.%m.%y')
dt.date()

datetime.date(2013, 10, 11)

In [12]:
st2 = 'Thursday, 18 August 1977'
dt = dt.strptime(st2, '%A, %d %B %Y')
dt.date()

datetime.date(1977, 8, 18)

Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [16]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def is_date(some_string):
    try:
        dt.strptime(some_string, '%Y-%m-%d')
    except:
        return False
    else:
        return True
        
[is_date(dt) for dt in stream]

[True, False, False]

Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [44]:
import traceback

def date_range(start, end):
    try:
        start_date = datetime.strptime(start,'%Y-%m-%d')
        end_date = datetime.strptime(end,'%Y-%m-%d')
    except ValueError:
        return []
    else:
        return [(start_date + timedelta(days=days)).date() for days in range((end_date - start_date).days)]

date_range('2020-01-01','2020-01-09')

[datetime.date(2020, 1, 1),
 datetime.date(2020, 1, 2),
 datetime.date(2020, 1, 3),
 datetime.date(2020, 1, 4),
 datetime.date(2020, 1, 5),
 datetime.date(2020, 1, 6),
 datetime.date(2020, 1, 7),
 datetime.date(2020, 1, 8)]

# Задание 4 (бонусное)
Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя 
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    
    return default_list[DEFAULT_USER_COUNT-2]

При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
'A101'

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:
1. Что значит ошибка list index out of range?
2. Почему при первом запуске функция работает корректно, а при втором - нет?

1. Происходит обращение к элементу последовательности с индексом, находящимся за пределами возможного индексного диапазона.
2. Функция при первом вызове запрашивает второй элемент с индексом [1] в списке из 2 элементов (индексы [0,1] или [-2,-1]), а при втором вызове пытается получить все тот же второй элемент с индексом [1] в списке,
который cостоит уже из 1 элемента (индекс [0] или [-1]).